openapi: 3.1.0
info:
  title: LEEO Fleet Telematics Aggregates Reports API
  version: v1
  summary: Driver, trip, and driving-behavior telematics data for commercial auto fleets insured by LEEO.
  description: 'The LEEO APIs expose the telematics data LEEO (formerly Fairmatic) collects for a fleet: the roster of drivers, the trips each driver has taken, detailed trip paths and driving events (phone use, hard braking, rapid acceleration, overspeeding), and daily/weekly aggregate driver scorecards. A report endpoint returns a presigned link to a generated CSV report. All requests are authenticated with a fleet-scoped API key issued from the LEEO dashboard Settings page and presented in the Authorization header as `APIKEY <fm_api_key>`. All dates and epoch timestamps are UTC. Trip data becomes available approximately four hours after a trip completes.'
  x-generated: '2026-07-19'
  x-method: generated
  x-source: https://docs.leeoinsurance.com/leeo-apis/
  contact:
    name: LEEO Sales
    email: sales@leeoinsurance.com
    url: https://leeoinsurance.com/contact
  termsOfService: https://leeoinsurance.com/terms-of-service
servers:
- url: https://api.leeoinsurance.com/api/v1
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Reports
  description: Generated fleet report links.
paths:
  /report:
    get:
      operationId: getReportLink
      tags:
      - Reports
      summary: Get report link
      description: Retrieves a presigned URL to the generated report for the specified report time. Returns 404 with a message when the report is not yet ready. All dates are UTC.
      parameters:
      - name: report_time
        in: query
        required: true
        description: Report date-time, format `YYYY-MM-DDTHH:MM:SS`.
        schema:
          type: string
        example: '2024-07-01T12:00:00'
      responses:
        '200':
          description: Presigned report link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_link:
                    type: string
                    format: uri
                    description: Presigned URL to the generated report file.
        '404':
          description: Report not ready yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Report not ready yet
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
    RateLimited:
      description: Rate limit exceeded. All APIs are limited to 5000 requests per minute per fleet, counting all authenticated calls including non-200 responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
  schemas:
    Message:
      type: object
      description: Simple message envelope used for non-2xx responses.
      properties:
        message:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Fleet-scoped API key from the LEEO dashboard Settings page, sent as `Authorization: APIKEY <fm_api_key>`.'
