openapi: 3.1.0
info:
  title: LEEO Fleet Telematics API
  version: v1
  summary: Driver, trip, and driving-behavior telematics data for commercial auto fleets insured by LEEO.
  description: >-
    The LEEO APIs expose the telematics data LEEO (formerly Fairmatic) collects for a fleet:
    the roster of drivers, the trips each driver has taken, detailed trip paths and driving
    events (phone use, hard braking, rapid acceleration, overspeeding), and daily/weekly
    aggregate driver scorecards. A report endpoint returns a presigned link to a generated
    CSV report. All requests are authenticated with a fleet-scoped API key issued from the
    LEEO dashboard Settings page and presented in the Authorization header as
    `APIKEY <fm_api_key>`. All dates and epoch timestamps are UTC. Trip data becomes
    available approximately four hours after a trip completes.
  x-generated: '2026-07-19'
  x-method: generated
  x-source: https://docs.leeoinsurance.com/leeo-apis/
  contact:
    name: LEEO Sales
    email: sales@leeoinsurance.com
    url: https://leeoinsurance.com/contact
  termsOfService: https://leeoinsurance.com/terms-of-service
servers:
  - url: https://api.leeoinsurance.com/api/v1
    description: Production
tags:
  - name: Drivers
    description: Fleet driver roster.
  - name: Trips
    description: Trip lists, trip detail, paths, and driving events.
  - name: Aggregates
    description: Daily and weekly aggregated driver scorecards.
  - name: Reports
    description: Generated fleet report links.
security:
  - apiKeyAuth: []
paths:
  /drivers:
    get:
      operationId: listDrivers
      tags: [Drivers]
      summary: List all drivers
      description: >-
        Retrieves a paginated list of drivers, irrespective of driver status, within a fleet.
        All dates are UTC. All fields other than `driver_id` can be null.
      parameters:
        - name: limit
          in: query
          description: Records per page (max 100).
          required: false
          schema:
            type: integer
            maximum: 100
          example: 30
        - name: page
          in: query
          description: Page number.
          required: false
          schema:
            type: integer
          example: 2
      responses:
        '200':
          description: Paginated list of drivers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverList'
              example:
                count: 50
                limit: 50
                current_page: 1
                next_page: null
                drivers:
                  - driver_id: 33d3a4ed7b8046239c22a35942a08e6f
                    first_name: John
                    last_name: Doe
                    email: null
                    alias: John Doe
                    first_travel_date: '2024-05-23'
                    last_travel_date: '2024-05-23'
                  - driver_id: b527f36ef860aad3616296a1e62fceef
                    first_name: null
                    last_name: null
                    email: null
                    alias: null
                    first_travel_date: null
                    last_travel_date: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /driver/{driver_id}/trips:
    get:
      operationId: listDriverTrips
      tags: [Trips]
      summary: Get driver trips
      description: >-
        Retrieves a paginated list of trips taken by a specified driver from a given start date.
        Trip data here does not contain the path taken or event details — use the trip detail
        operations for those. Trips are available approximately four hours after trip completion.
        `start_date` must fall within the last six months.
      parameters:
        - name: driver_id
          in: path
          required: true
          description: >-
            Driver identifier. For app integrations, fetch it from the driver list operation;
            for SDK integrations it is the id supplied at SDK initiation.
          schema:
            type: string
          example: fe497c39d28b4c50828389730e2292fd
        - name: start_date
          in: query
          required: true
          description: Date to fetch trips from (YYYY-MM-DD). Must be within the last 6 months.
          schema:
            type: string
            format: date
          example: '2024-05-01'
        - name: limit
          in: query
          description: Records per page (max 100).
          required: false
          schema:
            type: integer
            maximum: 100
          example: 30
        - name: page
          in: query
          description: Page number.
          required: false
          schema:
            type: integer
          example: 2
      responses:
        '200':
          description: Paginated list of trips for the driver.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripList'
              example:
                count: 50
                current_page: 2
                next_page: null
                limit: 30
                trips:
                  - trip_id: 96a4f7c842f74bfab0962feeae52a21b
                    driver_id: fe497c39d28b4c50828389730e2292fd
                    trip_start_time: 1716432408087
                    trip_end_time: 1716432708087
                    duration_seconds: 2259.833
                    distance_miles: 52.11779602592761
                    insurance_period: null
                    start_latitude: 38.04636977126205
                    start_longitude: -121.39782655062564
                    end_latitude: 37.76203001834099
                    end_longitude: -121.4533660947544
                    night_driving_seconds: 0.0
                    highway_miles: 39.90748363242293
                    night_driving_miles: 0.0
                    event_summary:
                      phone_use_count: 6
                      rapid_acceleration_count: 3
                      hard_brake_count: 1
                      overspeeding_count: 0
                      phone_use_time_seconds: 491.99
                      overspeeding_time_seconds: 0.0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /trip/trip_id/{trip_id}:
    get:
      operationId: getTripByTripId
      tags: [Trips]
      summary: Get trip detail by trip id
      description: >-
        Comprehensive information about a specific trip, including its trail path and driving
        events, addressed by the LEEO-generated `trip_id` (available from the trip list
        operation). Paginated with a fixed limit of 5 records per page.
      parameters:
        - name: trip_id
          in: path
          required: true
          description: LEEO-generated trip identifier.
          schema:
            type: string
          example: 96a4f7c842f74bfab0962feeae52a21b
        - name: page
          in: query
          required: false
          description: Page number (5 records per page).
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Trip detail including trail path and events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetailList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /trip/tracking_id/{tracking_id}:
    get:
      operationId: getTripByTrackingId
      tags: [Trips]
      summary: Get trip detail by tracking id
      description: >-
        Comprehensive information about a specific trip, including its trail path and driving
        events, addressed by the `tracking_id` set by the caller when the trip was started via
        the LEEO SDK. Paginated with a fixed limit of 5 records per page.
      parameters:
        - name: tracking_id
          in: path
          required: true
          description: Caller-supplied tracking identifier set when the trip was started via the SDK.
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Page number (5 records per page).
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Trip detail including trail path and events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetailList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /driver-aggregate/daily:
    get:
      operationId: getDailyDriverAggregate
      tags: [Aggregates]
      summary: Get daily driver summary
      description: >-
        Aggregated daily driving metrics for the specified drivers. Aggregation is performed on
        UTC dates. `start_date` must be within the last six months and cannot be the current day.
        Between 1 and 20 `driver_id` values may be supplied.
      parameters:
        - name: start_date
          in: query
          required: true
          description: Summary date (YYYY-MM-DD). Within the last 6 months; cannot be today.
          schema:
            type: string
            format: date
          example: '2024-05-20'
        - name: driver_id
          in: query
          required: true
          description: Driver id to fetch a summary for. Repeatable — minimum 1, maximum 20.
          explode: true
          schema:
            type: array
            minItems: 1
            maxItems: 20
            items:
              type: string
      responses:
        '200':
          description: Daily aggregate summary per driver.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyAggregateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /driver-aggregate/weekly:
    get:
      operationId: getWeeklyDriverAggregate
      tags: [Aggregates]
      summary: Get weekly driver summary
      description: >-
        Aggregated weekly driving metrics for the specified drivers, including a day-by-day
        breakdown for the days the driver drove. Aggregation is performed on UTC dates.
        `start_date` must be a Monday, within the last six months, and cannot be the current day.
        Between 1 and 20 `driver_id` values may be supplied.
      parameters:
        - name: start_date
          in: query
          required: true
          description: Week start date (YYYY-MM-DD). Must be a Monday, within the last 6 months, not today.
          schema:
            type: string
            format: date
          example: '2024-05-20'
        - name: driver_id
          in: query
          required: true
          description: Driver id to fetch a summary for. Repeatable — minimum 1, maximum 20.
          explode: true
          schema:
            type: array
            minItems: 1
            maxItems: 20
            items:
              type: string
      responses:
        '200':
          description: Weekly aggregate summary per driver with daily breakdown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyAggregateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /report:
    get:
      operationId: getReportLink
      tags: [Reports]
      summary: Get report link
      description: >-
        Retrieves a presigned URL to the generated report for the specified report time.
        Returns 404 with a message when the report is not yet ready. All dates are UTC.
      parameters:
        - name: report_time
          in: query
          required: true
          description: Report date-time, format `YYYY-MM-DDTHH:MM:SS`.
          schema:
            type: string
          example: '2024-07-01T12:00:00'
      responses:
        '200':
          description: Presigned report link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_link:
                    type: string
                    format: uri
                    description: Presigned URL to the generated report file.
        '404':
          description: Report not ready yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
              example:
                message: Report not ready yet
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: >-
        Fleet-scoped API key from the LEEO dashboard Settings page, sent as
        `Authorization: APIKEY <fm_api_key>`.
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
    RateLimited:
      description: >-
        Rate limit exceeded. All APIs are limited to 5000 requests per minute per fleet,
        counting all authenticated calls including non-200 responses.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Message'
  schemas:
    Message:
      type: object
      description: Simple message envelope used for non-2xx responses.
      properties:
        message:
          type: string
    Pagination:
      type: object
      description: Pagination envelope fields returned by list operations.
      properties:
        count:
          type: integer
          description: Total count of results.
        limit:
          type: integer
          description: Records per page.
        current_page:
          type: integer
          description: Current page number.
        next_page:
          type: [integer, 'null']
          description: Next page number; null on the last page.
    Driver:
      type: object
      description: A driver in the fleet. All fields other than driver_id can be null.
      properties:
        driver_id:
          type: string
        first_name:
          type: [string, 'null']
        last_name:
          type: [string, 'null']
        email:
          type: [string, 'null']
        alias:
          type: [string, 'null']
        first_travel_date:
          type: [string, 'null']
          format: date
        last_travel_date:
          type: [string, 'null']
          format: date
      required: [driver_id]
    DriverList:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            drivers:
              type: array
              items:
                $ref: '#/components/schemas/Driver'
    EventSummary:
      type: object
      description: Counts and durations of driving events observed on a trip or aggregate window.
      properties:
        phone_use_count:
          type: integer
        rapid_acceleration_count:
          type: integer
        hard_brake_count:
          type: integer
        overspeeding_count:
          type: integer
        phone_use_time_seconds:
          type: number
        overspeeding_time_seconds:
          type: number
    FocusArea:
      type: object
      description: Flags marking which behaviors are the driver's coaching focus areas.
      properties:
        is_phone_use:
          type: boolean
        is_rapid_acceleration:
          type: boolean
        is_acceleration:
          type: boolean
        is_hard_brake:
          type: boolean
        is_overspeeding:
          type: boolean
    Trip:
      type: object
      description: Trip summary without path or event detail.
      properties:
        trip_id:
          type: string
        driver_id:
          type: string
        trip_start_time:
          type: integer
          description: Epoch milliseconds, UTC.
        trip_end_time:
          type: integer
          description: Epoch milliseconds, UTC.
        duration_seconds:
          type: number
        distance_miles:
          type: number
        insurance_period:
          type: [integer, 'null']
          description: Insurance period 1, 2 or 3; null for fleets that do not require insurance periods.
          enum: [1, 2, 3, null]
        start_latitude:
          type: number
        start_longitude:
          type: number
        end_latitude:
          type: number
        end_longitude:
          type: number
        night_driving_seconds:
          type: number
        highway_miles:
          type: number
        night_driving_miles:
          type: number
        event_summary:
          $ref: '#/components/schemas/EventSummary'
    TripList:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            trips:
              type: array
              items:
                $ref: '#/components/schemas/Trip'
    TrailPoint:
      type: object
      description: A single point on the trip trail path.
      properties:
        timestamp:
          type: integer
          description: Epoch milliseconds, UTC.
        latitude:
          type: number
        longitude:
          type: number
        course:
          type: number
          description: Heading in degrees relative to North.
    DrivingEvent:
      type: object
      description: A driving event detected during the trip.
      properties:
        event_type:
          type: integer
          description: Numeric event type — 1 RAPID_ACCELERATION, 2 HARD_BRAKE, 7 PHONE_USE, 9 OVERSPEEDING.
          enum: [1, 2, 7, 9]
        event_name:
          type: string
          enum: [RAPID_ACCELERATION, HARD_BRAKE, PHONE_USE, OVERSPEEDING]
        event_start_timestamp:
          type: integer
        event_end_timestamp:
          type: integer
        event_start_latitude:
          type: number
        event_start_longitude:
          type: number
        event_end_latitude:
          type: number
        event_end_longitude:
          type: number
        event_data:
          type: object
          description: >-
            Additional event data. Empty for PHONE_USE, HARD_BRAKE and RAPID_ACCELERATION.
            OVERSPEEDING includes user_speed_mph, speed_limit_mph and max_user_speed_mph.
          properties:
            user_speed_mph:
              type: number
            speed_limit_mph:
              type: number
            max_user_speed_mph:
              type: number
    TripDetail:
      allOf:
        - $ref: '#/components/schemas/Trip'
        - type: object
          properties:
            focus_area:
              $ref: '#/components/schemas/FocusArea'
            trail_path:
              type: array
              items:
                $ref: '#/components/schemas/TrailPoint'
            events:
              type: array
              items:
                $ref: '#/components/schemas/DrivingEvent'
    TripDetailList:
      allOf:
        - $ref: '#/components/schemas/Pagination'
        - type: object
          properties:
            trips:
              type: array
              items:
                $ref: '#/components/schemas/TripDetail'
    DrivingSummary:
      type: object
      description: Aggregated driving metrics and LEEO driving score for a window.
      properties:
        fm_score:
          type: number
          description: LEEO/Fairmatic driving score.
        fm_grade:
          type: string
          description: Grade band for the score, e.g. excellent, good.
        trip_count:
          type: integer
        distance_miles:
          type: number
        duration_seconds:
          type: number
        night_driving_seconds:
          type: number
        highway_miles:
          type: number
        events_summary:
          $ref: '#/components/schemas/EventSummary'
        focus_area:
          $ref: '#/components/schemas/FocusArea'
    DailyDrivingSummary:
      allOf:
        - $ref: '#/components/schemas/DrivingSummary'
        - type: object
          properties:
            date:
              type: string
              format: date
    WeeklyDrivingSummary:
      allOf:
        - $ref: '#/components/schemas/DrivingSummary'
        - type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
            daily_summary_breakdown:
              type: array
              description: Day-by-day breakdown for the days the driver drove in the week.
              items:
                $ref: '#/components/schemas/DailyDrivingSummary'
    DailyAggregateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              driver_info:
                $ref: '#/components/schemas/Driver'
              driving_summary:
                $ref: '#/components/schemas/DailyDrivingSummary'
    WeeklyAggregateResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              driver_info:
                $ref: '#/components/schemas/Driver'
              driving_summary:
                $ref: '#/components/schemas/WeeklyDrivingSummary'
